---
layout: base
---

<div class="flex justify-center py-1 md:py-2">
  <img src="/assets/images/Footprint Map.jpg" alt="" class="basis-4/6  w-11/12 md:w-11/12 p-2 md:px-0" oncontextmenu="return false" ondragstart="return false" style="-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none">
</div>
<div class="flex justify-center py-4 md:py-8">
  <article class="prose md:prose-lg prose-p:font-extralight prose-headings:font-light prose-slate dark:prose-invert prose-img:mx-auto prose-img:w-2/3">
  {{ content }}
  </article>
</div>
<div class="flex justify-center py-1 md:py-2">
  <img src="/assets/images/Map.jpg" alt="" class="basis-4/6  w-11/12 md:w-11/12 p-2 md:px-0" oncontextmenu="return false" ondragstart="return false" style="-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none">
</div>
<div class="flex justify-center py-1 md:py-6" style="margin: 0 48px 0 0">
  <a class="p-2" href="{{site.rrss.email}}">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M4 7.00005L10.2 11.65C11.2667 12.45 12.7333 12.45 13.8 11.65L20 7" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <rect x="3" y="5" width="19" height="15" rx="2" stroke="" stroke-width="2" stroke-linecap="round"></rect>
      </g>
    </svg>
  </a>
  <span class="text-lg dark:text-slate-300 my-3">
   {{ site.data[site.lang].footer.description | default: "hongyi_liii@outlook.com" }}
  </span>
</div>
<div class="flex justify-center py-1 md:py-6" style="margin: 0 183px 0 0">
  <a class="p-2" href="{{site.rrss.linkedin}}">
    <!-- Linkedin -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24">
      <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
    </svg>
  </a>
  <span class="text-lg dark:text-slate-300 my-3">
   {{ site.data[site.lang].footer.description | default: "Hongyi Li            " }}
  </span>
</div>
